; CLIB TIMER
; *ITS*

; This file is a Stinkr XFILE to be used to construct timing versions of
; programs.  The only difference from normal programs is that a different
; handler is used for the procedure call UUOs.

; This file must be XFILEd first.
; Segment 0 must start at 100.

s 100,100000,400000,600000
i tinit

l clib;c10tmr
l clib;c10tpr

x clib;clib prglst
