[submodule "itstar"]
	path = tools/itstar
	url = https://github.com/PDP-10/itstar
[submodule "tapeutils"]
	path = tools/tapeutils
	url = https://github.com/brouhaha/tapeutils
[submodule "tools/dasm"]
	path = tools/dasm
	url = https://github.com/larsbrinkhoff/pdp10-its-disassembler
[submodule "tools/klh10"]
	path = tools/klh10
	url = https://github.com/PDP-10/klh10
[submodule "tools/simh"]
	path = tools/simh
	url = https://github.com/simh/simh
[submodule "tools/supdup"]
	path = tools/supdup
	url = https://github.com/PDP-10/supdup
[submodule "tools/mldev"]
	path = tools/mldev
	url = https://github.com/larsbrinkhoff/mldev
[submodule "tools/sims"]
	path = tools/sims
	url = https://github.com/larsbrinkhoff/ka10-simh
[submodule "tools/tv11"]
	path = tools/tv11
	url = https://github.com/aap/tv11
