[submodule "itstar"]
	path = tools/itstar
	url = https://github.com/PDP-10/itstar
[submodule "tapeutils"]
	path = tools/tapeutils
	url = https://github.com/brouhaha/tapeutils
[submodule "tools/dasm"]
	path = tools/dasm
	url = https://github.com/larsbrinkhoff/pdp10-its-disassembler
[submodule "tools/klh10"]
	path = tools/klh10
	url = https://github.com/Rhialto/klh10
