Use of AI

Use of ITSs which are not MC (for MC, see the file ACOUNT;TURIST POLICY
there) is predicated on consideration and common sense.  As a guest, you
should avoid making yourself unliked.  Unlikedness can be accomplished by
harassing other users, trashing other people's files, sending offensive
system mail,... that sort of thing.  ITS has basically no security, which
means you can read anything, delete any file, poke into other people's
personal stuff.  ITS users are expected to act maturely and show restraint
about such activity; no security makes for a great research environment,
but think how you'd feel if someone broadcast information that you wanted
to keep a little private.  Errors in this area will get you warned or
yelled at, depending on who notices; repeated errors will get your account
flushed.

You are in the TURIST user group for PWORD (which is a completely different
part of the world from what your INQUIR entry says).  This means you won't
be allowed to use AI during the day or to use its 2 dialups.  If you think
you need these privileges, send mail to USER-A@AI (each ITS has its own
USER-A group) explaining why.

Access to AI: Just because we grant your account request does not guarantee
that you can reach AI to use that account.  How you reach AI is up to you;
respect for legalities and for the customs at whatever site you might be
coming from is recommended.  If you can't get net access at your site,
we're sorry, but it isn't within our sphere to assist you.  If you have a
really amazingly worthy reason that we should assist you in coming over the
net (helping you get net privileges at your local site, or get a TAC
account), you can send same to USER-A, but don't expect much.

Correspondingly, accounts are not granted for the purpose of "net-hopping"
(the practice of logging into AI so you can then SUPDUP or TELNET to some
other host, such as OZ).  Net-hoppers may expect to have their accounts
flushed.

The command :LOADP will give you some idea of the system load.  This rises
during fairly obvious periods like the ends of terms; you should be
especially sensitive to system load then, and if things get bad, you should
log out and go away until later.  Also you should log out if an official
user (AI Lab members and certain others) asks you to.  Generally, someone
who asks you this will give you a chance to clean up and will explain why
you should go away; if you don't take advantage of the delay to write out
your buffers and such, you may find yourself summarily logged out.  If you
think you have been treated unfairly (in this sort of case, or any other
relating to your use of AI) your sole board of appeal is USER-A.

Disk space and directory size on ITS is limited.  Since ITS does not
require a separate directory for each user, most guests share a number of
guest directories.  The users of each dir are expected to manage their own
space (you'll know when you hit the upper limit -- all of a sudden files
will refuse to be saved); for the USERSx and GUESTx dirs this mostly means
you should clean up after yourself and not keep 500 blocks of old mail.  If
you think you need more space, you can explain to USER-A what wonderful
purpose will be served by giving you a personal dir.

You should keep your INQUIR entry up to date.  The :INFO program is a good
way to learn more about ITS; it includes a self-tutorial and a new-user
section.  If you run into trouble, the :LUSER command will try to find help
for you.  However, don't run it repeatedly -- once, and then if you get no
response in several minutes, once more, is enough.  The folks contacted by
:LUSER are knowledgeable volunteers; if they don't respond, either none of
them is logged in, or none of them can spare the time, and running :LUSER
every five minutes will only antagonize them.
